version: '3.7'
services:
#  vue-django:
#   build: .
#   container_name: f2-vue-django
#   restart: unless-stopped
#   environment:
#    - PORT=1337
#    - DB_NAME=db_mongo
#   ports:
#     - 8080:1337
#   depends_on:
#     - mongo
#   links:
#     - mongo

#  vue:
#    image: node:12
#    container_name: f2_vue
#    volumes:
#      - ./frontend:/code
#    working_dir: /code
#    command: bash -c "npm i && npm run build"
#
#  django:
#    image: python:3.8
#    container_name: f2_django
#    restart: unless-stopped
#    environment:
#     - PORT=8000
#     - DB_NAME=db_mongo
#    ports:
#     - 8000:8000
#    depends_on:
#     - mongo
#    links:
#     - mongo
#    volumes:
#      - ./backend:/app
#    working_dir: /app
#    command: bash -c "pip install -r requirements.txt && python manage.py migrate --noinput && python manage.py collectstatic --noinput && python manage.py runserver"

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    command: mongod
    environment:
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    volumes:
      - mongodbdata:/data/db
    ports:
       - 27017:27017
volumes:
  mongodbdata:
    driver: local