version: '3.7'
services:
  vue-django:
   build: .
   container_name: f2-vue-django
#   image: F2:latest
   restart: unless-stopped
   environment:
    - PORT=1337
    - DB_NAME=db_mongo
   entrypoint: entrypoint.sh
   ports:
     - 9081:1337
   depends_on:
     - mongo
   links:
     - mongo

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    command: mongod
    environment:
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    volumes:
      - mongodbdata:/data/db
    ports:
       - 27017:27017
volumes:
  mongodbdata:
    driver: local